@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: Azeret Mono;
}
/* header section */
.starting{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.awlad{
    text-decoration: none;
    margin: 10px 0 10px 50px;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}
.btn-primary{
    height: 35px;
    margin: 35px 35px 25px 0px;
    padding: 10px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: azure;
    background: orangered;
}
:hover.btn-primary{
    color:black;
    background: greenyellow;
}
/* banner section */
.banner{
    background-image: url(../assets/Hero-bg.png);
    width:100%;
    height: 600px;
    text-align: center;
    margin-bottom: 70px;
}
.dev-img{
    margin-top: 40px;
}
/* big section */       
.big-section{
    width: 80%;
    height: 1200px;
    border-radius: 16px;
    margin-left: 120px;
    margin-right: 100px; 
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.section-title,.section-des{
    text-align:center ;
    padding-top: 30px;
}
.section-detail{
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    background-color:white;
}
.first,.second{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
/* iframe section */
.iframe{
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
   padding-top: 60px;
}
/* current section */
.current-section{
    margin-top: 70px;
}
.section-starting{
    text-align: center;
}
.current-skills{
  display: flex;
  margin-top: 70px;
  margin-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
}
.html, .css, .js{
    text-align: start;
    border-radius: 16px;
    padding-left: 10px;
    margin-right: 20px;

}
.html{
background: rgba(255, 76, 30, 0.05);
}
.css{
background: rgba(0, 76, 232, 0.05);
}
.js{
background: rgba(255, 223, 0, 0.05);
}
/* next section */
.next-section{
    margin-top: 60px;
    margin-left: 35px;
}
.next-des{
    text-align: center;
    margin-bottom: 60px;
}
.react{
    display: flex;
    justify-content:baseline;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

}
.react-img{
    margin-right: 30px;
    padding: 20px 30px 20px 20px;
}
.react-dtls{
    padding: 20px 30px 20px 0px;
}
/* last-section */
.last-section{
    width: 100%;
    height: 600px;
    background-image: url(../assets/handshake.jpg);
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    
}
.support{
 text-align: center; 
 padding-top: 150px;  
 color: white;
}
.comment{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.cmnt{
    width: 50%;
    height: 65px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255); 
    margin-right: 15px;
}
.submit{
    height: 65px;
    width: 90px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
/* happy ending */
.happy-ending{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.icons ul li {
    list-style: none;
}
.icons ul{
    display: flex;
   gap: 20px;
}