@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* header section */
.starting{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.awlad{
    text-decoration: none;
    margin: 10px 0 10px 50px;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}
.btn-primary{
    height: 35px;
    margin: 35px 35px 25px 0px;
    padding: 10px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: azure;
    background: orangered;

}
:hover.btn-primary{
    color:black;
    background: greenyellow;
}